<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> Главная :: Доска объявлений </title>
</head>
<body>
    <h1> Объявления </h1>
    {% for advertisement in advertisements %}
    <div>
        <h2>{{ advertisement.title }}</h2>
        <p>{{ advertisement.content }}</p>
        <p>{{ advertisement.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
</body>
</html> 